<!--BackEnd page-->
<div class="content-box-large col-md-12 col-sm-7 col-xs-12">
  <div class="panel-heading">
    <div class="panel-title col-md-12">
      <i class="fa fa-question"></i>
      Listing Questions
      <% if params[:search] %>
        Search Result About <%=params[:search]%>
      <% end %>
      ( <%=@count%> )
      <div class="pull-right search-wrapper col-md-6">
        <% @Search_placeholder="Search in title " %>
        <%= render 'home/admin_search' %>
      </div>
      <br>
      <div class="sub-links col-md-12">
        <i class="fa fa-pencil-square-o"></i>
        <%= link_to 'New Question', new_question_path %>
        <i class="fa fa-file-excel-o"></i>
        <%= link_to "Export To Excel", questions_path(format: "xls") %>
      </div>
    </div><!--panel-title-->
    <br>
  </div><!--panel-heading-->
  <div class="panel-body">

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered sortable" id="example">
      <thead title="Click to short" class="cursor">
        <tr>
          <th>Platform</th>
          <th>Question text</th>
          <th>The type</th>
          <th>Required</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if @questions.blank? %>
          <tr>
            <td colspan="100%" align="center" class="empty"><%= t('empty_table') %></td>
          </tr>
        <% else %>
          <% @questions.each do |question| %>
            <tr class="show-image">
              <td>
                <% if question.pages.present? %>
                  <% question.pages.each do |page|%>
                    <% if page.social_media_platform.present? && page.social_media_platform.font_awesome_style? %>
                      <div class="<%= page.social_media_platform.font_awesome_style %>" style="float:left;color:<%=page.social_media_platform.color%>"></div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td><%= question.question_title %></td>
              <td><%= question.question_type.gsub('_',' ') %></td>
              <td><%= question.required_field%></td>
              <td class="icon-control">
                <%= link_to question, :title => "Show" do %><div class="backend-icon icon-show"></div><% end %>
              </td>
              <td class="icon-control">
                <%= link_to edit_question_path(:id => question), :title => "Edit" do %><div class="backend-icon icon-edit"></div><% end %>
              </td>
              <td class="icon-control">
                <%= link_to question, method: :delete, data: { confirm: 'Are you sure?' } ,:title => "Delete" do %><div class="backend-icon icon-delete"></div><% end %>
              </td>
            </tr>
          <% end %>
            <tfoot>
              <tr>
                <th colspan="100%"><%= paginate @questions %></th>
              </tr>
            </tfoot>
          <% end %>
      </tbody>
    </table>
  </div><!--panel-body-->
</div><!--content-box-large-->
