<!--BackEnd page-->
<div class="content-box-large col-md-12 col-sm-7 col-xs-12">
  <div class="panel-heading">
    <div class="panel-title col-md-12">
      <i class="fa fa-quote-left"></i>
      Quotes
      <%= render 'home/admin_search' %>
      <br>
      <div class="sub-links col-md-12">
        <i class="fa fa-pencil-square-o"></i>
        <%= link_to 'New Quote', new_quote_path %>
        <i class="fa fa-file-excel-o"></i>
        <%= link_to "Export To Excel", quotes_path(format: "xls") %>
      </div>
    </div><!--panel-title-->
    <br>
  </div><!--panel-heading-->
  <div class="panel-body">

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered sortable" id="example">
      <thead title="Click to short" class="cursor">
        <tr>
          <th>Author</th>
          <th>Font size</th>
          <th>Featured</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if @collection.blank? %>
          <tr>
            <td colspan="100%" align="center" class="empty"><%= t('empty_table') %></td>
          </tr>
        <% else %>
          <% @collection.each do |quote| %>
            <tr class="show-image">
              <td><%= quote.author %></td>
              <td><%= quote.font_size %></td>
              <td class="icon-control">
                <% if quote.featured %>
                  <%= link_to quote_featured_path(quote.id), method: :put ,:title => "Click to Unfeature" do %>
                    <i class="fa fa-check check"></i>
                  <% end %>
                <% else %>
                  <%= link_to quote_featured_path(quote.id), method: :put ,:title => "Click to Feature" do %>
                    <i class="fa fa-times uncheck"></i>
                  <% end %>
                <% end %>
              </td>
              <td class="icon-control">
                <%= link_to quote, :title => "Show" do %><div class="backend-icon icon-show"></div><% end %>
              </td>
              <td class="icon-control">
                <%= link_to edit_quote_path(quote), :title => "Edit" do %><div class="backend-icon icon-edit"></div><% end %>
              </td>
              <td class="icon-control">
                <%= link_to quote, method: :delete, data: { confirm: 'Are you sure?' } ,:title => "Delete" do %><div class="backend-icon icon-delete"></div><% end %>
              </td>
            </tr>
          <% end %>
            <tfoot>
              <tr>
                <th colspan="100%"><%= paginate @collection %></th>
              </tr>
            </tfoot>
          <% end %>
      </tbody>
    </table>
  </div><!--panel-body-->
</div><!--content-box-large-->
