<%
  meta title: @social_media_platform.title + "Report Submission"
%>

<% 
	# used to show options platform title 
	@social_media_platform_title=@social_media_platform.title
%>

<div class="process row">
	<div class="container">
		<div class="process-bar"></div>
		<h1> <%= @social_media_platform.title %> report submission - <span>0</span>% </h1>
	</div>
</div>

<div class="slider-pages row" data-pagescount="<%= @social_media_platform.pages.count %>">
  <%= form_tag("/thanks", id: "report", method: "post", :enctype =>"multipart/form-data" , multipart: true ) do |f| %>
		<% @tab_index=0%>
		<% @social_media_platform.pages.order(:theorder => :asc).each_with_index do |page, i| %>
			<!--page slides-->
			<div class="col-md-12 slide-page-wrapper <%= i == 0 ? 'current first_page' : 'hidden' %>" id="page-<%=i+1%>" data-id="<%=i+1%>">
				<div class="slide-page">
					
					<% if page.pages_questions.count > 0 %>
						<!--page questions-->
						<div class="row">
							<% page.pages_questions.each do |page_question| %>
							
							 	<% 
							 		if page_question.dependent_on_question || page_question.question.question_type =="prompt"
							 			klass='depends-question-'+page_question.dependent_on_question.to_s+' depends-option-'+page_question.question_option_id.to_s+' hide'
							 		elsif page_question.question.required_field==true
							 			klass=' require-answer'	
							 		else
							 			klass=' not-require'								 								 			
							 		end
							 	%> 

								<div class="col-md-7 question <%=klass%> <%= page_question.question.question_type %>" id="question-<%=page_question.question_id%>">

									<h2><%=page_question.question.question_title.gsub('{platform}',@social_media_platform.title)%></h2>
									
		              <% 
		                # load the question data to use it in the renders pages 
		                @tab_index=@tab_index+1
		                @question_id=page_question.question.id
		                @question_prompt_text=page_question.question.prompt_text
		                @question_prompt_link=page_question.question.prompt_link
		                @question_other_answer=page_question.question.other_answer
		                if page_question.question.placeholder
		                	@question_placeholder=page_question.question.placeholder.gsub('{platform}',@social_media_platform.title)
		              	end 
		                if page_question.question.question_options.present?
		                  @question_options=page_question.question.question_options
		                end
		              %>

	              	<%=render 'questions/'+page_question.question.question_type+'_field' %>

								</div>

							<% end %>

						</div>
					<% end %>


					<div class="btn-next">
						<% if i > 0 %>
							<span class="btn btn-report previous active"> Previous </span>
						<% end %>
						<span class="btn btn-report next"> Next </span>
					</div>
					
				</div>

			</div>
	  <% end %>

	  <!--  DEMOGRAPHIC QUESTIONS -->
		<div class="col-md-12 slide-page-wrapper hidden" id="page-<%=@social_media_platform.pages.count+1%>">
			<div class="slide-page">
				<div class="row">
					<div class="col-md-7 notification-text">

					<h2>DEMOGRAPHIC QUESTIONS</h2>

					<p>We would like to gather some additional information about you to get a sense of the impact of content moderation on different communities.</p>
					<p>Please help us by answering the following
					optional questions:</p>

					</div>
				</div>

				<div class="btn-next">
					<span class="btn btn-report previous active hidden"> Previous </span>
					<span class="btn btn-report active btn-continue require-user-data" onClick="showSlidePage('page-submit-report','page-<%=@social_media_platform.pages.count+1%>')"> Continue </span>
					<div  class="btn btn-report active submit-report">No, thanks</div>
				</div>

			</div>
		</div>

	  <!-- data page-->
		<div class="col-md-12 slide-page-wrapper hidden" id="page-submit-report">
			<div class="slide-page">
				<div class="row">
					<div class="col-md-7">

						<div class="input-report dropdown-input">
							<%= select_tag "user_country",options_from_collection_for_select(@countries,"id","name"),{:class => "require-field user-data", :prompt => "Your Country"}%>
							<i class="fa fa-chevron-down"></i>
						</div>

						<%= text_field_tag "user_name",nil, :class => "require-field input-report text-input short-field user-data", :placeholder => "Your Name" %>

						<%= email_field_tag "user_email",nil, :class => "require-field input-report text-input short-field user-data", :placeholder => "Your Email" , :pattern => "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" %>

						<%= hidden_field_tag 'platform_id', @social_media_platform.id %>
					  <%= text_field_tag('spam_checker', nil, class: 'spam-checker') %>

					</div>
				</div>

				<div class="btn-next">
					<span class="btn btn-report previous active disable-required" onClick="showSlidePage('page-<%=@social_media_platform.pages.count+1%>','page-submit-report')"> Previous </span>
					<div  class="btn btn-report submit-report active">SUBMIT</div>
				</div>

			</div>
		</div>
  
  <% end %>
</div>