<%
  meta title: @social_media_platform.title + t(:report_submission)
%>

<%
	# used to show options platform title
	@social_media_platform_title=@social_media_platform.title
	# Get the pages count
	pages_count = @pages.count
  # check the cookies
  if cookies[:user_still_kid]
    klass="hidden"
  else
    klass=""
  end
%>

<!--process-->
<div class="process row">
	<div class="container">
		<div class="process-bar"></div>
		<h1> <%= t(:report_submission) %> - <span>0</span>% </h1>
	</div>
</div><!--process-->

<!--slider-pages-->
<div class="slider-pages row" data-pagescount="<%= @pages.count+4 %>">

  <%= form_tag("/thanks", id: "report", method: "post", :enctype =>"multipart/form-data" , multipart: true , class: klass ) do |f| %>

    <% if ! cookies[:user_still_kid] %>

      <!-- user age -->
      <div class="col-md-12 slide-page-wrapper" id="page-0" data-id="0">
    		<div class="slide-page">
    			<div class="row">
    				<div class="col-md-7" id="user_age">

    					<h2> <%= t(:how_old_are_you) %> </h2>

              <div class="input-report select-input radio-select">
              	<input class="option" id="over-45" name="user_age" tabindex="1" type="radio" value="45+">
              	<label class="option" for="over-45">
              		<%= t(:over_45_years) %> 
              		<i class="fa fa-check"></i>
                </label>
              </div>

              <div class="input-report select-input radio-select">
              	<input class="option" id="over-36-45" name="user_age" tabindex="2" type="radio" value="36-45">
              	<label class="option" for="over-36-45">
              		36-45
              		<i class="fa fa-check"></i>
                </label>
              </div>

              <div class="input-report select-input radio-select">
              	<input class="option" id="over-26-35" name="user_age" tabindex="3" type="radio" value="26-35">
              	<label class="option" for="over-26-35">
              		26-35
              		<i class="fa fa-check"></i>
                </label>
              </div>

              <div class="input-report select-input radio-select">
              	<input class="option" id="over-19-25" name="user_age" tabindex="4" type="radio" value="19-25">
              	<label class="option" for="over-19-25">
              		19-25
              		<i class="fa fa-check"></i>
                </label>
              </div>

              <div class="input-report select-input radio-select">
              	<input class="option" id="over-13-18" name="user_age" tabindex="5" type="radio" value="13-18">
              	<label class="option" for="over-13-18">
              		13-18
              		<i class="fa fa-check"></i>
                </label>
              </div>

            	<div class="input-report select-input radio-select">
              	<input class="option" id="under-13" name="user_age" tabindex="6" type="radio" >
              	<label class="option" for="under-13">
              		<%= t(:under_13_years) %> 
              		<i class="fa fa-check"></i>
                </label>
              </div>

    				</div>

    			</div>

    		</div>

    	</div><!-- user age -->

      <% @tab_index=0%>
  		<% @pages.each_with_index do |page, i| %>
  			<!--page slides-->
  			<div class="col-md-12 slide-page-wrapper <%= i == 0 ? 'current first_page hidden' : 'hidden' %>" id="page-<%=i+1%>" data-id="<%=i+1%>">
  				<div class="slide-page">

            <div class="col-md-7 col-no-padding"> <p><%= page.message %></p> </div>

  					<% if page.pages_questions.count > 0 %>
  						<!--page questions-->
  						<div class="row">
  							<% page.pages_questions.each do |page_question| %>

                  <%
                  if page_question.dependent_on_question || page_question.question.question_type =="prompt"
                    klass='depends-question-'+page_question.dependent_on_question.to_s+' depends-option-'+page_question.question_option_id.to_s+' hide'
                  elsif page_question.question.required_field==true
                    klass=' require-answer'
                  else
                    klass=' not-require'
                  end
                  %>

  								<div class="col-md-9 question <%=klass%> <%= page_question.question.question_type %>" id="question-<%=page_question.question_id%>">

  									<h2><%=page_question.question.question_title.gsub('{platform}',@social_media_platform.title)%></h2>

  		              <%
  		                # load the question data to use it in the renders pages
  		                @tab_index=@tab_index+1
  		                @question_id=page_question.question.id
  		                @question_prompt_text=page_question.question.prompt_text
  		                @question_prompt_link=page_question.question.prompt_link
  		                @question_other_answer=page_question.question.other_answer
  		                if page_question.question.placeholder
  		                	@question_placeholder=page_question.question.placeholder.gsub('{platform}',@social_media_platform.title)
  		              	end
  		                if page_question.question.question_options.present?
  		                  @question_options=page_question.question.question_options
  		                end
  		              %>

  	              	<%= render partial: 'questions/'+page_question.question.question_type+'_field', locals: { f: f } %>

  								</div>

  							<% end %>

  						</div>
  					<% end %>


  					<div class="btn-next">
  						<% if i > 0 %>
  							<span class="btn btn-report previous active"> <%= t(:previous) %>  </span>
  						<% end %>
  						<span class="btn btn-report next"> <%= t(:next) %>  </span>
  					</div>

  				</div>

  			</div>
  	  <% end %>


  		<div class="col-md-12 slide-page-wrapper hidden" id="page-<%=pages_count+1%>" data-id="<%=pages_count+1%>">
  			<div class="slide-page">
  				<div class="row">
  					<div class="col-md-7 notification-text">

  						<p> <%= t(:report_intro) %> [<a href="/privacy-policy" target="_blank"><%= t(:link) %></a>]</p>

  					</div>
  				</div>

  				<div class="btn-next">
  					<span class="btn btn-report previous active"> <%= t(:previous) %> </span>
  					<span class="btn btn-report next active"> <%= t(:next) %> </span>
  				</div>

  			</div>
  		</div>

  	  <!-- user data page-->
  		<div class="col-md-12 slide-page-wrapper hidden" id="page-<%=pages_count+2%>" data-id="<%=pages_count+2%>">
  			<div class="slide-page">
  				<div class="row">
  					<div class="col-md-7 question require-answer select" id="question-static-1">

  						<h2> <%= t(:may_we_contact_you) %> </h2>

  						<div class="input-report select-input radio-select" id="yes">
  							<input class="option" id="op-yes" name="static_1" tabindex="1" type="radio" value="true">
  							<label class="option increase-count" for="op-yes">
  						    <%= t(:answer_yes) %>
  							<i class="fa fa-check"></i>
  							</label>
  						</div>

  						<div class="input-report select-input radio-select" id="no">
  							<input class="option" id="op-no" name="static_1" tabindex="1" type="radio" value="false">
  							<label class="option un-increase-count" for="op-no">
  						    <%= t(:answer_no) %>
  							<i class="fa fa-check"></i>
  							</label>
  						</div>

  					</div>

  						<%= hidden_field_tag 'platform_id', @social_media_platform.id %>
  					  <%= text_field_tag('spam_checker', nil, class: 'spam-checker') %>

  				</div>

  				<div class="btn-next">
  					<span class="btn btn-report previous active"> <%= t(:previous) %> </span>
  					<span class="btn btn-report next"> <%= t(:next) %> </span>
  				</div>

  			</div>
  		</div>

  		<div class="col-md-12 slide-page-wrapper hidden" id="page-<%=pages_count+3%>" data-id="<%=pages_count+3%>">
  			<div class="slide-page">
  				<div class="row">

  					<div class="col-md-7 question depends-question-static-1 depends-option-yes hide long_text" id="question-static-2">

  						<h2>
  							<%= t(:provide_us_with_your_email) %>
  						</h2>

  						<textarea class="input-report text-input require-field" id="static_2" name="static_2" placeholder="<%= t(:provide_us) %>" tabindex="2"></textarea>

  					</div>

  				</div>

  				<div class="btn-next">
  					<span class="btn btn-report previous active"> <%= t(:previous) %> </span>
  					<span class="btn btn-report next"> <%= t(:next) %> </span>
  				</div>

  			</div>
  		</div>

  		<div class="col-md-12 slide-page-wrapper hidden" id="page-<%=pages_count+4%>" data-id="<%=pages_count+4%>">
  			<div class="slide-page">
  				<div class="row">
  					<div class="col-md-7 question require-answer select" id="question-static-3">

  						<h2>
                <%= t(:may_we_use_your_case) %>
              </h2>

  						<div class="input-report select-input radio-select" id="yes-static-3">
  							<input class="option" id="op-yes-static-3" name="static_3" tabindex="1" type="radio" value="true">
  							<label class="option" for="op-yes-static-3">
  							 <%= t(:answer_yes) %>
  							<i class="fa fa-check"></i>
  							</label>
  						</div>

  						<div class="input-report select-input radio-select" id="no-static-3">
  							<input class="option" id="op-no-static-3" name="static_3" tabindex="1" type="radio" value="false">
  							<label class="option" for="op-no-static-3">
  							 <%= t(:answer_no) %>
  							<i class="fa fa-check"></i>
  							</label>
  						</div>

  					</div>

  				</div>

  				<div class="btn-next">
  					<span class="btn btn-report previous active"> <%= t(:previous) %> </span>
  					<span class="btn btn-report next"> <%= t(:next) %> </span>
  				</div>

  			</div>
  		</div>

  		<div class="col-md-12 slide-page-wrapper hidden" id="page-<%=pages_count+5%>" data-id="<%=pages_count+5%>">
  			<div class="slide-page">
  				<div class="row">
  					<div class="col-md-7 notification-text">

  						<p>
                <%= t(:report_completion_message) %>
  						</p>

  					</div>
  				</div>

  				<div class="btn-next">
  					<span class="btn btn-report previous active"> <%= t(:previous) %> </span>
  					<span class="btn btn-report next submit-report"> <%= t(:submit) %> </span>
  				</div>

  			</div>
  		</div>

    <% end %>

  <% end %>

  <!-- kids message-->
  <div class="col-md-12 slide-page-wrapper kids <% if !cookies[:user_still_kid]%>hidden<% end %>" id="page-0" data-id="0">
    <div class="slide-page">
      <div class="row">
        <div class="col-md-12">
          <h2> <%= t(:we_are_sorry) %> </h2>
          <p>
            <%= t(:we_are_sorry_text) %>
          </p>

          <a href="<%=root_path%>">
            <span class="btn btn-report active"> <%= t(:go_home) %>  </span>
          </a>
        </div>
      </div>
    </div>
  </div><!-- kids-->

</div><!--slider-pages-->
