<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name ,required: true , :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email ,required: true , :class=>"form-control" , :pattern => "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" %>
  </div>
  <div class="field">
    <%= f.check_box :submit_report %>
    <%= f.label :submit_report %>
  </div>
  <div class="field">
    <%= f.check_box :contact_us %>
    <%= f.label :contact_us %>
  </div>
  <div class="field">
    <%= f.check_box :subscriber %>
    <%= f.label :subscriber %>
  </div>
  <div class="actions">
    <%= f.submit :class=> "btn btn-primary" %>
  </div>
<% end %>