<%
  meta title: t(:how_to_appeal)
%>

<% cms_page_content('how-to-appeal') %>

<section class="dark-blue-bg page-title-wrapper">

  <% unless @page.nil? %>
    <div class="container">
      <h1> <%= @page.page_title %> </h1>

      <% if @page.brief.present? %>

        <div class="row">
          <div class="col-md-9">
            <p>
              <%= @page.brief %>
            </p>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>

</section>

<div class="container appeal-page">

  <div class="row">

    <div class="col-md-3">

      <div class="appeal-tabs">

        <ul class="nav nav-pills">
          <% @appeal_pages.each_with_index do |p, index| %>
            <li class="<%= index == 0 ? 'active' : '' %>"><a data-toggle="tab" href="#<%= p.page %>"><%= p.page_title %></a></li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="col-md-9">

      <div class="tab-content">

        <% @appeal_pages.each_with_index do |p, index| %>

          <div id="<%= p.page %>" class="tab-pane fade <%= index == 0 ? 'in active' : '' %>">
            <% cms_page_content( p.page ) %>
            <%= p.content.html_safe %>
          </div>

        <% end %>

      </div>

    </div>

  </div>

</div>
