<% if params[:q]%>
  - search results for "<%= params[:q][:searchable_cont] %>" (<%=@count%> found)
  <div class="pull-right search-wrapper col-md-6">
    <%=link_to "Show All", controller_name,:class=>'pull-right btn btn-primary btn-xs search-btn'%>
  </div>
<% else %>
  <div class="pull-right search-wrapper col-md-6">
    <%= search_form_for @query, url: @url do |f| %>
      <%= f.search_field :searchable_cont %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
