<%
meta og: {
  image: "#{root_url}oc.jpg",
  title: "onlinecensorship.org",
  description: t(:website_description)
}
%>

<%= render 'header' %>

<section class="appeal">
  <div class="container">
    <div class="row flex">
      <div class="col-sm-8">
        <h1> <%=@home_fields.appeal_text%> </h1>
      </div>
      <div class="col-sm-4">
        <%= link_to @home_fields.appeal_btn_text, resources_how_to_appeal_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>

<%= render 'carousel' %>

<section class="about-oc">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1> <%=@home_fields.what_oc_title%> </h1>
    </div>
    <div class="col-md-8">
      <p> <%=@home_fields.what_oc_text%> </p>
      <p>
      <a href="mailto:oc-reports@eff.org" class="btn btn-primary">
        <%=@home_fields.submit_btn_text%> &nbsp; <i class='fa fa-arrow-right'></i>
      </a>
      </p>
    </div>
  </div>
</div>
</section>

<%= render 'news' %>
