<!--BackEnd page-->
<div class="content-box-large col-md-12 col-sm-7 col-xs-12">
  <div class="panel-heading">
    <div class="panel-title col-md-12">
      <i class="fa fa-user"></i>
      Users Submissions
      <%= render 'home/admin_search' %>
      <br>
      <div class="export">
        <i class="fa fa-file-excel-o"></i> Download Submissions
        <%= link_to "XLS", question_users_path(format: "xls") %>,
        <%= link_to "CSV", question_users_path(format: "csv") %>
      </div>
      <br>
    </div><!--panel-title-->
    <br>
  </div><!--panel-heading-->
  <div class="panel-body">

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered sortable" id="example">
      <thead title="Click to short" class="cursor">
        <tr>
          <th>ID</th>
          <th>Language</th>
          <th>Contact</th>
          <th>Age</th>
          <th>Contact user?</th>
          <th>Created at</th>
          <th>Answers</th>
        </tr>
      </thead>

      <tbody>
        <% if @collection.blank? %>
          <tr>
            <td colspan="100%" align="center" class="empty"><%= t('empty_table') %></td>
          </tr>
        <% else %>
           <% @collection.each do |question_user| %>
            <tr class="show-image">
              <td>
                <%= question_user.id %>
              </td>
              <td>
                <%= question_user.language %>
              </td>
              <td>
                <% if question_user.email? || question_user.communication_preference? %>
                  <%= question_user.email %> / <%= question_user.pgp_key %> /
                  <%= question_user.communication_preference %>
                <% else %>
                  Anonymous
                <% end %>
              </td>
              <td>
                <%= question_user.age %>
              </td>
              <td>
                <% if question_user.contact !=nil  %>
                  <%= question_user.contact %>
                <% else %>
                  false
                <% end %>
              </td>
              <td><%= question_user.created_at.to_formatted_s(:long_ordinal) %></td>
              <td class="icon-control">
                <%= link_to question_user, :title => "Show" do %><div class="icon-show"><i class="fa fa-file-text-o"></i></div><% end %>
              </td>
            </tr>
          <% end %>
            <tfoot>
              <tr>
                <th colspan="100%"><%= paginate @collection %></th>
              </tr>
            </tfoot>
          <% end %>
      </tbody>
    </table>
  </div><!--panel-body-->
</div><!--content-box-large-->
