<div class="col-md-12 col-sm-7 col-xs-12 no-padding">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-user"></i>User Submission
      </div>
    </div><!--panel-heading-->
    <div class="panel-body">
      <div class="col-md-12 details">

				<p>
				  <strong>Name:</strong>
				  <% if @question_user.name? %>
				  	<%= @question_user.name %>
				  <% else %>
				  	Anonymous
				  <% end %>
				</p>

				<p>
				  <strong>Country:</strong>
				  <% if @question_user.country.present? %>
				  	<%=@question_user.country.name %>
				  <% else %>
				  	Anonymous
				  <% end %>
				</p>

				<p>
				  <strong>Email:</strong>
			   	<% if @question_user.email? %>
				  	<%= @question_user.email %>
				  <% else %>
				  	Anonymous
				  <% end %>
				</p>

				<p>
				  <strong>Platform:</strong>
					<% if @question_user.question_user_submissions.present? %>
						<% @question_user.question_user_submissions.first(1).each do |submission| %>
							<%=submission.page.social_media_platform.title%>
							<% @social_media_platform_id=submission.page.social_media_platform.id%>
						<% end %>
					<% end %>
				</p>

				<p>
				  <strong>Answers:</strong>
				  <ul>
						<% if @question_user.question_user_submissions.present? %>
							<% @question_user.question_user_submissions.each do |submission| %>

                <% if submission.question_answer.respond_to?(:question) and !submission.question_answer.question.nil? %>
  								<li>
  									<b><%=submission.question_answer.question.question_title.gsub('{platform}',submission.page.social_media_platform.title) %></b>
  									<% @submission=submission%>
  									<br>
  									<!-- render the answer-->
  		              <%=render 'questions/'+submission.question_answer.question.question_type+'_answer' %>
  			          </li>
                <% else %>
                  <li> ERROR: A QUESTION WAS NIL </li>
                <% end %>

							<% end %>
						<% end %>
					</ul>
				</p>

				<p>
					<%= link_to 'All Users Submissions', admin_question_users_path %>
        </p>

      </div><!--details-->
    </div><!--panel-body-->
  </div><!--content-box-large-->
</div><!--col-md-12-->
