<div class="col-md-12 col-sm-7 col-xs-12 no-padding">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-user"></i>User Submission
      </div>
    </div><!--panel-heading-->
    <div class="panel-body">
      <div class="col-md-12 details">

        <p>
          <strong>ID:</strong>
          <%= @question_user.id %>
        </p>

        <p>
				  <strong>Registered at:</strong>
			  	<%= @question_user.created_at.to_date %>
				</p>

        <p>
				  <strong>Age:</strong>
			  	<%= @question_user.age %>
				</p>

				<p>
				  <strong>Answers:</strong>
				  <ul>
						<% if @question_user.question_user_submissions.present? %>
							<% @question_user.question_user_submissions.each do |submission| %>
                <% if submission.page.present? %>
                  <% if submission.question_answer.respond_to?(:question) and !submission.question_answer.question.nil? %>
    								<li>
    									<b><%=submission.question_answer.question.question_title %></b>
    									<% @submission=submission%>
    									<br>
    									<!-- render the answer-->
    		              <%=render 'questions/'+submission.question_answer.question.question_type+'_answer' %>
    			          </li>
                  <% else %>
                    <li> ERROR: A QUESTION WAS NIL </li>
                  <% end %>
                <% end %>
							<% end %>
						<% end %>
					</ul>
				</p>

        <p>
				  <strong>May we contact you to follow up on this report?:</strong>
          <% if @question_user.contact !=nil  %>
            <%= @question_user.contact %>
          <% else %>
            false
          <% end %>
        </p>
        
        <p>
				  <strong>Please provide us your email address so we may follow up with you. If you use encrypted mail, please provide us your public key so that we may communicate securely. If there is another means of communication that you prefer, please specify and provide contact details:</strong>
          <% if @question_user.email? %>
				  	<%= @question_user.email %>
				  <% else %>
				  	Anonymous
				  <% end %>
				</p>

        <p>
				  <strong>Would you like us to contact the platform about your case? We cannot guarantee a response.</strong>
			  	<%= @question_user.inform_platform %>
				</p>

				<p>
					<%= link_to 'All Users Submissions', admin_question_users_path %>
        </p>

      </div><!--details-->
    </div><!--panel-body-->
  </div><!--content-box-large-->
</div><!--col-md-12-->
