<%
  meta title: t(:contact_us)
%>

<section class="dark-blue-bg page-title-wrapper">
  <div class="container">
    <h1> <%= t(:contact_us) %> </h1>
  </div>
</section>

<div class="container contact-page">
  <div class="row">

    <div class="col-md-8">
      <div class="white-box">

        <div class="form-wrapper"> 
        
          <p> <%= t(:drop_a_line) %> </p>

          <div class="row">
            <%= render 'form' %>
          </div>

        </div>

        <div class="form-confirmation">

          <h2> <%= t(:thank_you) %> </h2>
          <p> <%= t(:thank_you_contact) %> </p>

        </div>

      </div>
    </div>

  </div>
</div>