<%= form_for @web_page do |f| %>

  <% if @web_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @web_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :brief %><br>
    <%= f.text_area :brief, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, required: true, :class=>"form-control ckeditor" %>
  </div>

  <%= f.fields_for :sections do |builder| %>
    <%= render 'section_fields', f: builder %>
  <% end %>

  <div class="form-group">
    <%= link_to_add_fields "Add Section", f, :sections %>
  </div>

  <div class="form-group">
    <%= f.check_box :published, checked: @web_page.published %> <%= f.label :published %>
  </div>

  <div class="actions">
    <%= f.submit  :class=> "btn btn-primary" %>
  </div>
<% end %>
