<%
  meta title: @web_page.title
%>

<% if @web_page.published %>
  <section class="dark-blue-bg page-title-wrapper">
    <div class="container">
      <h1> <%= @web_page.title %> </h1> 

      <% if @web_page.brief.present? %>

        <div class="row">
          <div class="col-md-8">
            <p>
              <%= @web_page.brief %>
            </p>
          </div>
        </div>

      <% end %>

    </div>
  </section>

  <div class="container web-page">

    <% if @web_page.content.present? %>
      <div class="white-box">
        <%= @web_page.content.html_safe %>
      </div>
    <% end %>


    <div class="row">
      <div class="col-sm-3">

        <div class="page-sidemenu">

          <ul class="nav nav-pills">
            <% @web_page.sections.each_with_index do |section,x| %>
              <!-- <span class="side-section white-box"> -->
                
                <li class="white-box main <%= x == 0 ? 'active' : '' %>">
                  <a data-toggle="pill" href="#<%= section.title.gsub(' ','-') %>"><b> <%= section.title %> </b></a>
                </li>

                <ul class="list-unstyled">
                <% section.sub_sections.each_with_index do |subsection,i| %>

                  <!-- data-toggle="pill" href="#<= section.title.gsub(' ','-') %>" -->
                  <li class="white-box"><a href="#<%= subsection.title.gsub(' ','-').gsub('?','').gsub('"','').gsub(',','') %>"><%= i + 1 %>. <%= subsection.title %></a></li>

                <% end %>
                </ul>

              <!-- </span> -->
              <!-- <div class="seperator"></div> -->
            <% end %>
          </ul>
        </div>

      </div>
      <div class="col-sm-9">
        <div class="sections-content tab-content">

          <% @web_page.sections.each_with_index do |section,x| %>

            <div id="<%= section.title.gsub(' ','-') %>" class="page-section tab-pane fade <%= x == 0 ? 'in active' : '' %>">

              <div class="white-box page-section-header">
                <h2> <%= section.title %> </h2>
                <div><%= section.content.html_safe if section.content %></div>
              </div>

              <% section.sub_sections.each_with_index do |subsection,i| %>

                <div id="<%= subsection.title.gsub(' ','-').gsub('?','').gsub('"','').gsub(',','') %>" class="page-subsection white-box">
                  <h3> <%= image_tag subsection.icon(:thumb) if subsection.icon.exists? %> <%= i + 1 %>. <%= subsection.title %> </h3>
                  <div> <%= subsection.content.html_safe %> </div>
                </div>

              <% end %>

            </div>
          <% end %>

        </div>
      </div>
    </div>

  </div>

<% else %>

  <section class="dark-blue-bg page-title-wrapper">
    <div class="container">
      <h1> <%= @web_page.title %> </h1> 
    </div>
  </section>

  <div class="container web-page">
    <div class="white-box">
      <br/>
      <p><b> &nbsp; <%= t(:page_unavailable) %> </b></p>
      <br/>
    </div>
  </div>

<% end %>
