<% posts_count=@posts.count %>
<% if posts_count > 0 %>
  <% if @featured_post %>
    <% if @featured_post.photo_file_name %>
      <div class="col-md-8">
        <div class="news-box featured-post clearfix">
          <div class="col-md-6 col-no-padding">
            <div class="image-wrapper">
              <% if @featured_post.category && @featured_post.category.title.downcase=="news" %>
                <%=link_to @featured_post.link , :target => "_blank" do %>
                  <%=image_tag @featured_post.photo(:thumb) %>
                <% end %>
              <% else %>
                <%=link_to @featured_post, :title=>@featured_post.title do %>
                  <%=image_tag @featured_post.photo(:thumb) %>
                <% end %>
              <% end %>
              <% if @featured_post.image_link.present? && @featured_post.image_author_name.present? && @featured_post.cc_license.present? %>
                <div class="image-tip">
                  <a href="<%=@featured_post.image_link%>" target="_blank"><%= t(:image) %></a>
                  <%= t(:by) %> <a href="<%=@featured_post.image_author_link%>" target="_blank"><%=@featured_post.image_author_name%></a>
                  <a href="<%=@featured_post.cc_license%>" target="_blank"><%= t(:cc_license) %></a>
                </div><!--image-tip-->
              <% end %>
            </div>
          </div>
          <div class="col-md-6 col-no-padding">
            <div class="news-box featured">
              <%= render partial: 'card', locals: { post: @featured_post } %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="news-box">
          <%= render partial: 'card', locals: { post: @featured_post } %>
        </div>
      </div>
    <% end %>
  <% end %>


  <% j = 0 %>
  <% @posts.each_with_index do |post, i| %>
    <% if posts_count < 3 %>
      <% if @quotes[j] %>
        <div class="col-md-4">
          <%= render partial: 'quote_card', locals: { quote: @quotes[j] } %>
        </div>
      <% end %>
    <% end %>

    <div class="col-md-4">
      <div class="news-box">
        <%= render partial: 'card', locals: { post: post } %>
      </div>
    </div>

    <% if @quotes.count > 0 && i%3 == 0 %>
      <% if @quotes[j] %>
        <div class="col-md-4">
          <%= render partial: 'quote_card', locals: { quote: @quotes[j] } %>
        </div>
      <% end %>
      <% j = j+1 %>
    <% end %>
  <% end %>

<% else %>
  <div class="col-md-12">
    <div class="news-box no-results">
      <h3> <%= t(:no_results) %> </h3>
    </div>
  </div>
<% end %>
