<%
  meta title: "#{@person.name} | " + t(:posts)
%>

<section class="dark-blue-bg page-title-wrapper">
  <div class="container">
    <h1> <%= @person.name %> | <%= t(:posts) %> </h1>
  </div>
</section>

<section class="latest-news gray-bg news-area">
  <div class="container">

    <div class="row">

      <% @posts.each_with_index do |post, i| %>

        <% if i == 0 %>

          <div class="col-md-8">
            <div class="news-box featured-post clearfix">
              <div class="col-md-6 col-no-padding">
                <div class="image-wrapper">
                  <% if post.category && post.category.title.downcase=="news" %>
                    <%=link_to post.link , :target => "_blank" do %>
                      <%=image_tag post.photo(:thumb) %>
                    <% end %>
                  <% else %>
                    <%=link_to post_path(post),:title=>post.title do %>
                      <%=image_tag post.photo(:thumb) %>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-no-padding">
                <div class="post-content">

                  <% if post.category.present? %>
                    <i class="fa fa-circle" style="color: <%= post.category.color %>"></i>
                    <label class="category"><%= post.category.title %></label>
                  <% end %>

                  <h3>
                    <% if post.category && post.category.title.downcase=="news" %>
                      <%=link_to post.link , :target => "_blank" do %>
                        <%=post.title %>
                      <% end %>
                    <% else %>
                      <%=link_to post_path(post),:title=>post.title do %>
                        <%=post.title %>
                      <% end %>
                    <% end %>
                  </h3>

                  <h5>
                    <% if post.person_id? %>
                      <% if post.person.present? %>
                        <%=link_to author_path(id: post.person),:title=>post.person.name do %>
                          <%= post.person.name %>
                        <% end %>
                      <% end %>
                    <% elsif post.news_source? %>
                      <%=post.news_source%>
                    <% end %>
                  </h5>
                  <h6><%=post.publish_date%></h6>
                  <p class="post-brief"><%= post.intro.truncate(163) %></p>
                  <hr>
                  <label class="post-tags">
                    <% if post.tags?%>
                      <% post.tags.split(/,/).each do |tag| %>
                        <%= link_to posts_path(tag: tag) do %>#<%= tag %><% end %>
                      <% end %>
                    <% end %>
                  </label>
                </div>
              </div>

            </div>
          </div>

        <% else %>

          <div class="col-md-4">
            <div class="news-box">

              <% if post.category.present? %>
                <i class="fa fa-circle" style="color: <%= post.category.color %>"></i>
                <label class="category"> <%= post.category.title %> </label>
              <% end %>

              <h3>
                <% if post.category && post.category.title.downcase=="news" %>
                  <%=link_to post.link , :target => "_blank" do %>
                    <%=post.title %>
                  <% end %>
                <% else %>
                  <%=link_to post_path(post),:title=>post.title do %>
                    <%=post.title %>
                  <% end %>
                <% end %>
              </h3>

              <h5>
                <% if post.person_id? %>
                  <% if post.person.present? %>
                    <%=link_to author_path(id: post.person),:title=>post.person.name do %>
                      <%= post.person.name %>
                    <% end %>
                  <% end %>
                <% else %>
                  &nbsp;&nbsp;
                <% end %>
              </h5>
              <h6><%=post.publish_date %></h6>
              <p class="post-brief"><%= post.intro.truncate(163) %></p>
              <hr>
              <label class="post-tags">
                <% if post.tags?%>
                  <% post.tags.split(/,/).each do |tag| %>
                    <%= link_to posts_path(tag: tag) do %>#<%= tag %><% end %>
                  <% end %>
                <% end %>
              </label>
            </div>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>
</section>
