<%
  meta title: t(:news_analysis)
%>

<section class="dark-blue-bg page-title-wrapper">
  <div class="container">
    <h1> <%= raw t(:news_and_analysis) %> </h1>   
  </div>
</section>

<section class="latest-news news-area">
  <div class="container">

    <div class="posts-filter-wrapper">
      <p> <%= t(:filter_by) %> </p>
      <div class="row">
        <div class="col-md-3">
          <div class="select-wrapper">
            <button class="btn white-btn dropdown-toggle hide-more-btn" type="button" id="post-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="btn-placeholder"> <%= t(:type) %> </span>
              <span class="btn-value"> <%= t(:type) %> </span>
              <span class="fa fa-chevron-down"></span>
            </button>
            <ul class="dropdown-menu category-dropdown" aria-labelledby="post-type" id="filter-post-type">
              <li>
                <a data-remote="true" href="/news-and-analysis?category_id=All"> <%= t(:all) %> </a>
              </li>
              <% @categories.each do |type| %>
                <li>
                  <%=link_to posts_path(category_id: type.id ,platform_id: params[:platform_id],theme_id: params[:theme_id]), :remote=> true do %>
                    <%=type.title%>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
        <div class="col-md-3">
          
          <div class="select-wrapper">
            <button class="btn white-btn dropdown-toggle hide-more-btn" type="button" id="post-platform" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="btn-placeholder"><%= t(:platform) %></span>
              <span class="btn-value"><%= t(:platform) %></span>
              <span class="fa fa-chevron-down"></span>
            </button>
            <ul class="dropdown-menu platform-dropdown" aria-labelledby="post-platform">
              <li>
                <a data-remote="true" href="/news-and-analysis?platform_id=All"><%= t(:all) %></a>
              </li>
              <% @platform.each do |type| %>
                <li>
                  <%=link_to posts_path(platform_id: type.id,category_id: params[:category_id],theme_id: params[:theme_id]), :remote=> true do %>
                    <%=type.title%>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
        <div class="col-md-3">
          <div class="select-wrapper">
            <button class="btn white-btn dropdown-toggle hide-more-btn" type="button" id="post-theme" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="btn-placeholder"><%= t(:theme) %></span>
              <span class="btn-value"><%= t(:theme) %></span>
              <span class="fa fa-chevron-down"></span>
            </button>
            <ul class="dropdown-menu theme-dropdown" aria-labelledby="post-theme">
              <li>
                <a data-remote="true" href="/news-and-analysis?theme_id=All"><%= t(:all) %></a>
              </li>
              <% @theme.each do |type| %>
                <li>
                  <%=link_to posts_path(theme_id: type.id,category_id: params[:category_id] ,platform_id: params[:platform_id]), :remote=> true do %>
                    <%=type.title%>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
        <div class="col-md-3">
          <div class="search-posts-wrapper">
            <form class="search-posts">
              <input aria-label="Search" type="text" name="tag" value="<%=params[:tag]%>" class="search-field <%= (params[:tag]) ? 'opened' : '' %>">
              <i class="fa fa-search search-icon"></i>
              <button type="submit" class="search-submit" aria-label="Submit Search">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row posts-append-div">
      <%= render 'posts' %>
    </div>

    <% if @show_all %>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%=link_to posts_path(show_all: "All") ,:title=>"Show more" , :remote=> true do %>
            <div class="btn btn-primary more-btn hide-more-btn"> <%= t(:show_more) %> </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
