<%
meta title: @post.title,
     description: @post.intro
meta og: {
  image: @post.photo.to_s,
  title: @post.title,
  description: @post.intro
}
%>

<div class="post-cover">
	<div class="overlay"></div>
	<% if @post.photo_file_name %>
		<%= image_tag @post.photo.url %>
	<% end %>
</div>

<div class="container">
	<div class="post-wrapper">

		<div class="row">
			<div class="col-md-7">
				<% if @post.category.present? %>
					<i class="fa fa-circle" style="color: <%= @post.category.color %>"></i>
					<label class="category"> <%= @post.category.title %> </label>
			  <% end %>
				<h1> <%= @post.title %> </h1>
				<p class="post-info">
					<%= t(:by) %>
					<% if @post.person.present? %>
						<%=link_to author_path(id: @post.person),:title=>@post.person.name do %>
							<%= @post.person.name %>
						<% end %> |
					<% end%>
					<%= l(@post.publish_date, :format => :long, :locale => locale) %> |
					<% if @post.tags? %>
						<% @post.tags.split(/,/).each do |tag| %>
							<%= link_to posts_path(tag: tag) do %><%="#"+tag.to_s%><% end %>
						<% end %>
					<% end %>
				</p>
				<% if @post.image_link.present? && @post.image_author_name.present? && @post.cc_license.present? %>
					<p class="post-info">
						<a href="<%=@post.image_link%>" target="_blank">Image</a>
						by <a href="<%=@post.image_author_link%>" target="_blank"><%=@post.image_author_name%></a>
						<a href="<%=@post.cc_license%>" target="_blank">CC license</a>
					</p>
				<% end %>
			</div>
		</div>


		<% if user_signed_in? %>
			<div class="row">
				<div class="col-md-12">
					<%= link_to "Edit", edit_post_path(@post), :title => "Edit Post" %> |
					<% if @post.published %>
						<%= link_to "Unpublish", post_publish_path(@post.id), method: :put %>
					<% else %>
						<%= link_to "Publish", post_publish_path(@post.id), method: :put %>
					<% end %> |
					<% if @post.featured %>
						<%= link_to "Unfeature", post_featured_path(@post.id), method: :put %>
					<% else %>
						<%= link_to "Feature", post_featured_path(@post.id), method: :put %>
					<% end %> |
					<% if @post.pinned %>
						<%= link_to "Unpinned", post_pinned_path(@post.id), method: :put %>
					<% else %>
						<%= link_to "Pinned", post_pinned_path(@post.id), method: :put %>
					<% end %> |
					<%= link_to "Manage posts", admin_posts_path(), :title => "Manage Posts" %>
				</div>
			</div>
		<% end %>


		<div class="post-content">
			<div class="row">

					<div class="col-md-7">
						<% if @post.description %>
							<%= @post.description.html_safe %>
						<% end %>
					</div>

					<div class="col-md-5">

						<% if @post.side_image.present? %>
							<div class="post-image">
								<% if @post.side_image_link?%>
									<%=link_to @post.side_image_link,:target=>"_blank" do %>
										<%= image_tag @post.side_image %>
									<% end %>
								<% else %>
									<%= image_tag @post.side_image %>
								<% end %>
								<p class="image-caption">
									<%= @post.side_image_caption %>
								</p>
							</div>
						<% end %>

						<% if @post.quote_text.present? %>
							<div class="post-quote">
								<div class="quote-text-wrapper">
									<p class="quote-text"> <%= @post.quote_text %> </p>
								</div>
								<p class="quote-by"> <%= @post.quote_author %> </p>

								<div class="quote-share">
									<p> <%= t(:share_it) %> </p>
									<!-- <a href=""> <i class="fa fa-facebook"></i> </a> -->
									<a href="http://twitter.com/home?status=<%= @post.twitter_text %> <%= root_url %> @censored" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" title="<%= t(:twitter) %>"> <i class="fa fa-twitter"></i> </a>
									<!-- <a href=""> <i class="fa fa-google-plus"></i> </a> -->
								</div>
							</div>
						<% end %>

					</div>

			</div>

			<% if @post.pdf? %>
				<div class="row">
					<div class="col-md-7">
						<br/><%= link_to "Download PDF", @post.pdf.url, :class => "btn btn-default", :target => "_blank" %>
					</div>
				</div>
			<% end %>

			<div class="seperator">
			</div>

			<% if @post.person.present? %>
				<div class="row">
					<div class="col-md-7">
						<div class="post-author team-member clearfix">
							<div class="personal-photo">
								<%=link_to author_path(id: @post.person),:title=>@post.person.name do %>
		  						<%= image_tag @post.person.photo(:thumb) %>
		  					<% end %>
		  				</div>
		  				<div class="personal-info">
		  					<h4> <%= t(:about_the_author) %> </h4>
		  					<h2>
			            <%=link_to author_path(id: @post.person),:title=>@post.person.name do %>
			              <%= @post.person.name %>
			            <% end %>
		  					</h2>
		  					<div>
		  						<% if @post.person.bio %> 
		  							<%= @post.person.bio.html_safe %>
		  						<% end %>
		  					</div>
		  				</div>
						</div>
					</div>
				</div>
			<% end %>

			<div class="row">
				<div class="col-md-7">
					<div class="share-post">
						<h5> <%= t(:share_on) %> </h5>

						<a href="http://twitter.com/home?status=<%= @post.title %> : <%= request.original_url %> - via @censored" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn btn-default"> <i class="fa fa-twitter"></i> <%= t(:twitter) %> </a>

						<a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=<%= @post.title %>&p[url]=<%= request.original_url %>" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn btn-default"> <i class="fa fa-facebook"></i> <%= t(:facebook) %> </a>

        	</div>
				</div>
			</div>

		</div>


		<div class="suggested-topics">
			<h2> <%= t(:suggested_readings) %> </h2>

			<div class="row">

				<% @posts.each do |p| %>

					<div class="col-md-4">
		        <div class="news-box">
		          <i class="fa fa-circle news-dot" style="color:<%= p.category.color%>"></i>
		          <label class="category"> <%= p.category.title %> </label>
		          <h3>
                <%=link_to post_path(p),:title=>p.title do %>
		          		<%= p.title %>
		          	<% end %>
		          </h3>
		          <h5>
		          	<% if p.person.present?%>
		          		<%=link_to author_path(id: p.person),:title=>p.person.name do %>
		          			<%= p.person.name %>
		          		<% end %>
		          	<% end %>
		          </h5>
		          <h6> <%= l(p.publish_date, :format => :long, :locale => locale) %> </h6>
		          <p class="post-brief"> <%= p.intro.truncate(160) %> <p>
		          <hr>
		          <label class="post-tags">
		          	<% if p.tags? %>
                  <% p.tags.split(/,/).each do |tag| %>
                    <%= link_to posts_path(tag: tag) do %>#<%= tag %><% end %>
                  <% end %>
                <% end %>
		          </label>
		        </div>
		      </div>

		    <% end %>

			</div>
		</div>

	</div>
</div>
