<!--BackEnd page-->
<div class="content-box-large col-md-12 col-sm-7 col-xs-12">
  <div class="panel-heading">
    <div class="panel-title col-md-12">
      <i class="fa fa-list"></i>
      Listing Platform Links
      <br>
      <div class="sub-links col-md-12">
        <i class="fa fa-pencil-square-o"></i>
        <%= link_to 'New Platform Links', new_platform_link_path %>
      </div>
    </div><!--panel-title-->
    <br>
  </div><!--panel-heading-->
  <div class="panel-body">

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered sortable" id="example">
      <thead title="Click to short" class="cursor">
        <tr>
          <th>Platform</th>
          <th>Support Link</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if @platform_links.blank? %>
          <tr>
            <td colspan="100%" align="center" class="empty"><%= t('empty_table') %></td>
          </tr>
        <% else %>
          <% @platform_links.each do |link| %>
            <tr class="show-image">
              <td>
                <%= link.platform_name %>
              </td>
              <td>
                <%= link.support_link %>
              </td>
              <td class="icon-control">
                <%= link_to edit_platform_link_path(link), :title => "Edit" do %><div class="backend-icon icon-edit"></div><% end %>
              </td>
              <td class="icon-control">
                <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } ,:title => "Delete" do %><div class="backend-icon icon-delete"></div><% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div><!--panel-body-->
</div><!--content-box-large-->
