<table width="100%" cellspacing="2">
  <tr>
    <th style="text-align:left; font-weight:bold;">Registered at</th>
    <th style="text-align:left; font-weight:bold;">Category</th>
    <th style="text-align:left; font-weight:bold;">Title</th>
    <th style="text-align:left; font-weight:bold;">Author</th>
    <th style="text-align:left; font-weight:bold;">Link</th>
    <th style="text-align:left; font-weight:bold;">Written In</th>
    <th style="text-align:left; font-weight:bold;">Year</th>
  </tr>
  <% @further_reads.each do |excel| %>
    <tr>
      <td style="text-align:left;"><%= excel.created_at.to_date %></td>
      <td style="text-align:left;"><%= excel.category %></td>
      <td style="text-align:left;"><%= excel.title %></td>
      <td style="text-align:left;"><%= excel.author %></td>
      <td style="text-align:left;"><%= excel.link %></td>
      <td style="text-align:left;"><%= excel.written_in %></td>
      <td style="text-align:left;"><%= excel.year %></td>
    </tr>
  <% end %>

</table>