<!DOCTYPE html>
<html>
  <head>
    <title>Administration BackEnd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "backend", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% favicon_link_tag '/favicon.ico'%>

    <!-- Font awesome -->
    <link rel="stylesheet" href="/fonts/font-awesome-4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/lazy_js/html5shiv.js"></script>
      <script src="/lazy_js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div class="clearfix">
        <div class="col-md-5">
          <!-- Logo -->
          <div class="logo">
            <h1><%= link_to "Administration Panel", admin_dashboard_path %></h1>
          </div><!--logo-->
        </div><!--col-md-5-->
        <div class="pull-right col-md-7">
          <div class="main-buttons">
            <div class="icon-wrapper">
              <i class="fa fa-sign-out"></i><br>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete ,:title =>"Sign out" %>
            </div><!--icon-wrapper-->
            <div class="icon-wrapper">
              <i class="fa fa-tachometer"></i><br>
              <%= link_to "Dash board", admin_dashboard_path %>
            </div><!--icon-wrapper-->
            <div class="icon-wrapper">
              <i class="fa fa-home"></i><br>
              <%= link_to "Home", root_path ,:target=>"_blank" ,:title =>"Web site home page" %>
            </div><!--icon-wrapper-->
            <div class="icon-wrapper hidden-xs">
              <i class="fa fa-clock-o"></i><br>
              <a>Last login: <%=current_user.last_sign_in_at.time.to_formatted_s(:long_ordinal)%></a>
            </div><!--icon-wrapper-->
            <div class="icon-wrapper hidden-xs">
              <i class="fa fa-meh-o"></i><br>
              <%= link_to "Welcome: Admin", edit_user_registration_path %>
            </div><!--icon-wrapper-->
          </div><!--main-buttons-->
        </div><!--col-md-5-->
      </div><!--container-->
    </div><!--header-->

    <div class="page-content admin-panel">
      <div class="row">

        <div class="col-md-3 col-sm-5 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="sidebar content-box" style="display: block;">
              <ul class="nav">
                <!-- Main menu -->

                <li>
                  <i class="fa fa-sliders"></i>
                  <%= link_to 'Questionaire', new_page_path %>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-question"></i> Questions
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_question_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_questions_path %>
                    </li>
                  </ul>
                </li>

                <li>
                  <i class="fa fa-user"></i>
                  <%= link_to 'Users Submissions ', admin_question_users_path %>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-facebook-square"></i> Platform Support Links
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_platform_link_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_platform_links_path %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-globe"></i> Countries
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_country_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_countries_path %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-language"></i> Languages
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_language_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_languages_path %>
                    </li>
                  </ul>
                </li>

              </ul>
            </div><!--sidebar-->
          </div><!--col-md-3-->

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="sidebar content-box" style="display: block;">
              <ul class="nav">
                <!-- Main menu -->

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-users"></i> People
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_person_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_people_path %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-file-text-o"></i> CMS Pages
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_content_management_page_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_content_management_pages_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Home Page', edit_home_field_path(1) %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-newspaper-o"></i> News/Analysis
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o icon"></i>
                      <%= link_to 'Add New Post', new_post_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage Posts', admin_posts_path %>
                    </li>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New Category', new_category_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage Categories', admin_categories_path %>
                    </li>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New Theme', new_posts_theme_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage Themes', admin_posts_themes_path %>
                    </li>
                    <li>
                      <i class="fa fa-pencil-square-o icon"></i>
                      <%= link_to 'Add New Quote', new_quote_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage Quotes', admin_quotes_path %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-newspaper-o"></i> Further Read
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_further_read_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_further_reads_path %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-newspaper-o"></i> Stories
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_story_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_stories_path %>
                    </li>
                  </ul>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-quote-left"></i> FAQ
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New', new_faq_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage', admin_faqs_path %>
                    </li>
                  </ul>
                </li>

                <li>
                  <i class="fa fa-envelope"></i>
                  <%= link_to 'Subscribes', admin_subscribes_path %>
                </li>

                <li class="submenu">
                  <a href="#">
                    <i class="fa fa-envelope-o"></i> Messages
                    <span class="caret pull-right"></span>
                  </a>
                  <!-- Sub menu -->
                  <ul>
                    <li>
                      <i class="fa fa-pencil-square-o"></i>
                      <%= link_to 'Add New Topic', new_contacts_topic_path %>
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      <%= link_to 'Manage Topics', admin_contacts_topics_path %>
                    </li>
                    <li class="border-bottom"></li>
                    <li>
                      <i class="fa fa-check-square-o last"></i>
                      <%= link_to 'Messages', admin_contacts_path %>
                    </li>
                  </ul>
                </li>

                <li>
                  <i class="fa fa-bell"></i>
                  <%= link_to 'Notifications', admin_notifications_path %>
                </li>

              </ul>
            </div><!--sidebar-->
          </div><!--col-md-3-->
        </div><!--col-md-3-->

        <div class="col-md-9">
          <% if notice %>
            <div class="alert alert-success" role="alert">
              <%= notice %>
            </div>
          <% end %>
          <div class="admin-language-switcher">
            <%= link_to :locale => :en do %>
              <span class="<%= locale == :en ? 'active' : '' %>"> En </span>
            <% end %> |
            <%= link_to :locale => :es do %>
              <span class="<%= locale == :es ? 'active' : '' %>"> Esp </span>
            <% end %> |
            <%= link_to :locale => :ar do %>
              <span class="<%= locale == :ar ? 'active' : '' %>"> Ar </span>
            <% end %>
          </div>
          <%= yield %>
        </div><!--col-md-9-->

      </div><!--row-->
    </div><!--page-content-->

    <footer>
     <div class="container">
        <div class="copy text-center">
          Copyright 2015
        </div>
     </div><!--container-->
    </footer>

    <%= javascript_include_tag "backend", "data-turbolinks-track" => false %>
    <script src="/lazy_js/bootstrap.min.js"></script>

  </body>
</html>
